<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      <span class="user-span">{{user.username}}</span> | {{comment_text}}
      <br>
      {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>