<div class="signup container-fluid">
<h4 class="signup-login-title">Login</h4>
<form class="login-form signup-login-container">
  <div class="row">
    <label class="username" for="username-login">Username</label>
    <br>
    <input type="text" id="username-login" />
  </div>
  <div class="row">
    <label class="password" for="password-login">Password</label>
    <br>
    <input type="password" id="password-login" />
  </div>
  <div class="row">
    <button class="submit-button" type="submit">Login</button>
  </div>
  <a class="row instead" href="/signup">Sign up instead!</a>
</form>
</div>

<script src="/javascript/login.js"></script>