<div class="new-post container-fluid">
  <h3 class="new-post-title">New Post</h3>
  <form class="signup-form signup-login-container">
    <div class="row">
      <label class="new-title" for="new-title">Title</label>
      <br>
      <input name="new-title" type="text">
    </div>
    <div class="row">
      <label class="new-content" for="new-content">Content</label>
      <br>
      <input name="new-content" type="text">
    </div>
    <div class="row">
      <button id="submit-new-post" class="submit-button" type="submit">Submit</button>
    </div>
  </form>
</div>

<script src="/javascript/new-post.js"></script>