<div class="signup container-fluid">
  <h4 class="signup-login-title">Sign Up</h4>
  <form class="signup-form signup-login-container">
    <div class="row">
      <label class="username" for="username-signup">Username</label>
      <br>
      <input type="text" id="username-signup" />
    </div>
    <div class="row">
      <label class="password" for="password-signup">Password</label>
      <br>
      <input type="password" id="password-signup" />
    </div>
    <div class="row">
      <button class="submit-button" type="submit">Sign Up</button>
    </div>
    <a class="row instead" href="/login">Login instead!</a>
  </form>
</div>

<script src="/javascript/signup.js"></script>